

   
        .content-contact{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            position: relative;
            margin-top: 10%;
            margin-left: 20%;
            position: relative;
            padding: 30px;
            flex: content;
            width: 50%;
        
           
        }
        .cad{
          
          line-height: normal;
          background-color: #363636;
          align-items: center;
          justify-content: center;
          padding: 30px;
          border-radius: 30px;
          max-width: 100%;

          
        }
        input{
            display: block;
            align-items: center;
            margin-bottom: 15px;
            width: fit-content;
            height: 30px;
            border-radius: 10px;
            padding-left: 15px;
            background-color: #aba7a7;
        
        }
        .bt{
            width: max-content;
            display: block;
            color: var(--color-primary);
            padding: .70rem 1.1rem;
            border-radius: .4rem;
            cursor: pointer;
            border: 1px solid var(--color-primary);
            transition: var(--transition);
            margin-top: 15px;
            margin-bottom: 15px;
            }
            input::placeholder{
                font-style: italic;
                
            }
            textarea{
                border: none;
                border-radius: 20px;
                padding: 20px;
                background-color: #aba7a7;
            }